body {
    font-family: Dancing Script;
}

.Contenedor {
    width: 100%;
    background-color: yellow;
}

.Cabecera {
    width: 100%;
    color: white;
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    height: 5%;
}

.Cabecera header {
    margin-left: 2%;
    width: 100%;
    font-size: 5vw;
    text-shadow: 2px 2px #02010a;
}

.Cabecera nav {
    margin-right: 2%;
    color: white;
    font-size: 2.5vw;
    text-align: right;
    vertical-align: top;
}
a:hover {
     color: orange;
}
a:link {
     text-decoration:none;
     font-weight: bold;
     color:blue;
}

.ImagenCentral {
    background-color: #82c3a6;
    border-radius: 10px;
    margin-left: 25%;
    width: 50%;
    text-align: center;
    border: 1px solid black;
}

.ImagenCentral img {
    margin: 2%;
    width: 96%;
    border-radius: 10px;
    border: 1px solid black;
}

.ImagenSecundaria {
    width: 96%;
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-flex;
    flex-flow: row;
}

.ImagenSecundaria1, .ImagenSecundaria2 {
    display: inline-block;
    width: 50%;
    margin: 5vh 0;
    border: 1px solid black;
    text-align: center;
    background-color: #82c3a6;
}

.ImagenSecundaria1 {
    margin: 2%;
    height: inherit;
    border-radius: 10px;
}

.ImagenSecundaria2 {
    margin: 2%;
    height: inherit;
    border-radius: 10px;
}

.ImagenSecundaria1 img {
    margin: 2%;
    width: 96%;
    border-radius: 10px;
    text-align: center;
}

.ImagenSecundaria2 img {
    margin: 2%;
    width: 96%;
    border-radius: 10px;
    text-align: center;
}

.PiePagina footer {
    clear: both;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    margin-top: 0.5vh;
    background-color: #C6d5c5;
    font-size: 1vw;
    bottom: 0;
    display: inline-flex;
    flex-flow: row;
}

.PiePagina p {
font-style: oblique;
font-weight: bold;
}

.PiePaginaCol1 {
    width: 40%;
    border-width: thick;
    border-color: black;
    vertical-align: middle;

}

.PiePaginaCol2, .PiePaginaCol3, .PiePaginaCol4 {
    width: 20%;
    border-width: thin;
    border-color: black;
    vertical-align: middle;
}


/*@media all and ((min-width: 900px) {}*/


/*@media all and (max-width: 900px) {}*/
