/**********************************************************************
Controles Generales para la Página - Body
**********************************************************************/

@font-face{
     font-family: 'DancingScript';
     src: url('../fuentes/DancingScript.otf');
}

body {
    font-family: DancingScript;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #02010a;
}

.Contenido {
    width: 100%;
}


/**********************************************************************
Controles para el Encabezado de la Página - Header
**********************************************************************/

.Cabecera {
    width: 100%;
    color: white;
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    height: 5%;
}

.Cabecera header {
    margin-left: 2%;
    width: 100%;
    font-size: 5vw;
    text-shadow: 2px 2px #02010a;
    -webkit-animation: Brinco 2s;
    animation: brinco 2s;
}

@-webkit-keyframes brinco {
    0% {
        margin-top: 150%;
    }
    60% {
        margin-top: -5%;
    }
    100% {
        margin-top: 0%;
    }
}

.Cabecera nav {
    margin-right: 2%;
    margin-bottom: 3%;
    font-size: 2.5vw;
    text-align: right;
    vertical-align: top;
    text-decoration: none;
}

.Cabecera a:hover {
    color: orange;
}

.Cabecera a:link {
    text-decoration: none;
    font-weight: bold;
    color: green;
}


/**********************************************************************
Controles para el Cuerpo o Contenido de la Página
**********************************************************************/


/*---------------------------------------------------------------------
Sección para la Imagen Central de la Página
---------------------------------------------------------------------*/

.ImagenCentral {
    background-color: #82c3a6;
    width: 100%;
    font-size: 3vw;
    text-align: center;
}

.ImagenCentral img {
    margin: 5% 25% 0 25%;
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #02010a;
}


/*---------------------------------------------------------------------
Sección para las Imagenes Secundarias de la Página Principal
---------------------------------------------------------------------*/

.ImagenSecundaria {
    background-color: #d5c75f;
    display: flex;
    flex-flow: row;
    border: 1px;
    width: 100%;
    text-align: center;
    font-size: 3vw;
}

.ImagenSecundaria1, .ImagenSecundaria2 {
    width: 100%;
    margin: 2% 2% 0% 2%;
    height: inherit;
}

.ImagenSecundaria1 img, .ImagenSecundaria2 img {
    margin: 2%;
    width: 96%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #82c3a6;
}

.ImagenSecundaria1 img:hover {
    transform: rotate(10deg);
}

.ImagenSecundaria2 img:hover {
    transform: translate(5px, -20px);
}


/**********************************************************************
Controles para el Cuerpo o Contenido de la Página  Paisajes
**********************************************************************/


/*---------------------------------------------------------------------
Sección para las Imagenes de la Filas 1 y 2
---------------------------------------------------------------------*/

.ImagenesFila_1, .ImagenesFila_2 {
    background-color: #82c3a6;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    display: inline-block;
}


/*---------------------------------------------------------------------
Sección para las Imagenes de Paisajes
---------------------------------------------------------------------*/

.ImagenPaisaje_1, .ImagenPaisaje_2, .ImagenPaisaje_3, .ImagenPaisaje_4, .ImagenPaisaje_5, .ImagenPaisaje_6 {
    background-color: #d5c75f;
    display: inline-block;
    padding: 1%;
    width: 30%;
    margin: 5vh 0;
    border: 2px solid;
    text-align: center;
}

.ImagenPaisaje_1 div, .ImagenPaisaje_2 div, .ImagenPaisaje_3 div, .ImagenPaisaje_4 div, .ImagenPaisaje_5 div, .ImagenPaisaje_6 div {
    min-width: 200px;
    height: 30%;
    margin: 3%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #02010a;
}

.ImagenPaisaje_1 img, .ImagenPaisaje_2 img, .ImagenPaisaje_3 img, .ImagenPaisaje_4 img, .ImagenPaisaje_5 img, .ImagenPaisaje_6 img {
    width: 96%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #02010a;
    align-items: center;
}

.ImagenPaisaje_1 img {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.ImagenPaisaje_2 img, .ImagenPaisaje_4 img, .ImagenPaisaje_6 img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.ImagenPaisaje_3 img {
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}


/*---------------------------------------------------------------------
Sección para las Imagenes de Fotos
---------------------------------------------------------------------*/

.ImagenFotos_1, .ImagenFotos_2, .ImagenFotos_3, .ImagenFotos_4, .ImagenFotos_5, .ImagenFotos_6 {
    background-color: #d5c75f;
    display: inline-block;
    padding: 1%;
    width: 30%;
    margin: 5vh 0;
    border: 2px solid;
    text-align: center;
}

.ImagenFotos_1 div, .ImagenFotos_2 div, .ImagenFotos_3 div, .ImagenFotos_4 div, .ImagenFotos_5 div, .ImagenFotos_6 div {
    min-width: 200px;
    height: 30%;
    margin: 3%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #02010a;
}

.ImagenFotos_1 img, .ImagenFotos_2 img, .ImagenFotos_3 img, .ImagenFotos_4 img, .ImagenFotos_5 img, .ImagenFotos_6 img {
    width: 96%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #02010a;
    align-items: center;
}

.ImagenFotos_1 img {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.ImagenFotos_2 img, .ImagenFotos_4 img, .ImagenFotos_6 img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.ImagenFotos_3 img {
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}


/**********************************************************************
Controles para el Pie de Página - Footer
**********************************************************************/

.PiePagina {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    font-size: 1em;
    font-style: oblique;
    font-weight: bold;
    border-top: solid 2px black;
    border-radius: 0px 0px 10px 10px;
    background-color: #C6d5c5;
}

.PiePagina footer {
    clear: both;
    margin-top: 1vh;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
}

.PiePagina h2 {
    font-weight: bold;
    color: green;
}

.PiePagina a:hover {
    color: red;
}


/*---------------------------------------------------------------------
Sección para Controlar las Columnas del Pie de Página
---------------------------------------------------------------------*/

.PiePag1, .PiePag2, .PiePag3, .PiePag4 {
    min-height: inherit;
    padding: 1%;
    width: 23%;
}

.PiePag3 img {
    width: 15%;
}


/*********************************************************************************
Controles para ajustar la apariencia para Équipos de menos de 900px - Movil
*********************************************************************************/

@media (max-width: 899px) {
    .Cabecera nav {
        text-align: center;
    }
    .ImagenCentral, .ImagenSecundaria1, .ImagenSecundaria2, .ImagenFotos_1, .ImagenFotos_2, .ImagenFotos_3, .ImagenFotos_4, .ImagenFotos_5, .ImagenFotos_6, .ImagenPaisaje_1, .ImagenPaisaje_2, .ImagenPaisaje_3, .ImagenPaisaje_4, .ImagenPaisaje_5, .ImagenPaisaje_6 {
        width: 100%;
        margin: 0;
        font-size: 4vw;
        border-radius: 0px;
        border: 0px;
        padding: 0;
    }
    .ImagenSecundaria, .ImagenesFila_1, .ImagenesFila_2 {
        width: 100%;
        margin: 0;
        display: block;
        border-radius: 0px;
        border: 0px;
    }
    .ImagenCentral img, .ImagenSecundaria1 img, .ImagenSecundaria2 img, .ImagenFotos_1 img, .ImagenFotos_2 img, .ImagenFotos_3 img, .ImagenFotos_4 img, .ImagenFotos_5 img, .ImagenFotos_6 img, .ImagenPaisaje_1 img, .ImagenPaisaje_2 img, .ImagenPaisaje_3 img, .ImagenPaisaje_4 img, .ImagenPaisaje_5 img, .ImagenPaisaje_6 img {
        margin: 5% 5% 0 5%;
        width: 90%;
    }
    /*-------------------------------------------------------------------*/
    .PiePag1, .PiePag2, .PiePag3, .PiePag4 {
        width: 100%;
    }
    .PiePag1 {
        border-radius: 0px;
    }
    .PiePag3 img {
        width: 2%;
    }
}


/**********************************************************************
Controles para ajustar la apariencia para Équipos de más de 900px
**********************************************************************/

@media (min-width: 901px) {
    .PiePag1, .PiePag2, .PiePag3, .PiePag4 {
        width: 23%;
    }
    .PiePag1 {
        border-radius: 0px 0px 0px 10px;
    }
    .PiePag4 {
        border-radius: 0px 0px 10px 0px;
    }
    .PiePag3 img {
        width: 10%;
    }
}
